<!-- 
    1.使用全局组件实现TodoList
    2.使用@代替v-on绑定事件
        @click="handleClick"
    3.父组件向全局子组件传值    
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" value="" v-model="inputValue"/>
        <input type="button" value="测试vue组件" @click="handleClick"/>
        <ul>
            <!-- v-bind:父组件给子组件传值时使用 -->
            <todo-item v-bind:content="item" v-for="item in list"></todo-item>
        </ul>
    </div>    
</body>
<script>

    /**
     * 全局组件
     */ 
    Vue.component('TodoItem',{
        props:['content'],
        template:'<li>{{content}}</li>'
        //错误写法
        //template:'<li>' + this.content + '</li>'
    });

    var app = new Vue({
        el:'#app',
        data: {
            list: [],
            inputValue:''
        },
        methods:{
            handleClick: function() {
                this.$data.list.push(this.inputValue);
            }
        }    
    });
</script>    
</html>