@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img,textarea { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
img {border:0;	vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙*/
table { border-collapse:collapse; }
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a {color:#666; text-decoration:none; }
a:hover{color:#C81623;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #C81623!important;}

/*公共类*/
.w {  /*版心 提取 */
    width: 1210px;margin:0 auto;
}
.fl {
    float:left
}
.fr {
    float:right
}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}

/*京东的头部导航条开始*/
.mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}
.box {
    width: 500px;
    height: 250px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -250px;
    z-index: 101;
    display: none;
}
.box span{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    font-size: 15px;
    cursor: pointer;
}
.shortcut {
    height: 30px;
    line-height: 30px;
    background: #F1F1F1;
    width: 100%;/*设置div宽度为屏幕宽度*!*/
}
.shortcut .dt,
.shortcut .fore
{
    position: relative;
    padding:0 25px 0 10px;
}
.dt i,
.fore i
{
    font: 400 15px/15px "宋体";
    /*!*font-weight:400;*!*/
    /*!*font-size: 15px;*!*/
    /*!*line-height: 15px;*!*/
    /*!*font-family:"宋体";*!*/
    position: absolute;
    top: 13px;
    right: 3px;
    height: 7px;
    width: 15px;
    overflow: hidden;
}
.dt s,
.fore s
{
    position: absolute;
    top: -8px;
    left: 0;
    height: 15px;
    width: 15px;
}
.fr li {
    float: left;
    padding:0 10px;
}
.fr .line {
    width: 1px;
    height: 12px;
    background-color: #ddd;
    margin-top: 9px;
    padding:0;
}
.shortcut .tel-jd {
    padding:0 20px;
}
.tel {
    position: absolute;
    left: 0;
    top: 5px;
    width: 15px;
    height: 20px;
    background: url("../images/sprite.png") no-repeat;
}
/*顶部结束*/
/*topbanner开始*/
.topbannerparent {
    position: relative;
}
.topbanner {
    background-color: #8A25C6;
}
.close-banner {
    position: absolute;
    right: 0;
    top: 5px;
    width: 19px;
    height: 19px;
    background: url("../images/close.png") no-repeat;
}
.close-banner:hover {
    background-position: bottom ;
}
/*topbanner结束*/
.logo {
    width: 362px;
    height: 75px;
    background: url("../images/logo.png") no-repeat 0 25px;
    float: left;
    padding-top: 25px;
    position: relative;
}
.jd-a {
    display: block;
    width: 270px;
    height: 60px;
    text-indent: -2000em;
}
.db11 {
    position: absolute;
    width: 180px;
    height: 80px;
    top: 10px;
    left: 168px;
}
.search {
    width: 538px;
    height: 35px;
    float: left;
    margin-top: 25px;
}
.search input {
    width: 450px;
    height: 32px;
    border: 2px solid #B61D1D;
    padding-left:4px;
    color: #666;
    font: 14px/32px "microsoft yahei";
    float: left;
}
.search button {
    width: 80px;
    height: 36px;
    float: left;
    background: #B61D1D;
    font: 16px/36px "microsoft yahei";
    color: #fff;
    cursor: pointer;/*鼠标变成小手*/
}
.car {
    width: 96px;
    height: 34px;
    float: right;
    margin-top: 25px;
    margin-right: 65px;
    padding-left: 43px;
    border: 1px solid #DFDFDF;
    line-height: 34PX;
    position: relative;
}
.icon1 {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 16px;
    height: 13px;
    background: url("../images/sprite.png") no-repeat -1px -59px;
}
.icon2 {
    font:400 13px/13x simsun ;
    position: absolute;
    top: 1px;
    right: 15px;
}
.icon3 {
    position: absolute;
    top: -4px;
    width: 16px;
    height: 14px;
    background-color: red;
    line-height: 14px;
    text-align: center;
    color: #fff;
    border-radius: 7px 7px 7px 0px ;
}
.hotword {
    width: 500px;
    padding:7px 0;
    float: left;
}
.hotword a {
    margin-right: 8px;
}
/*头部结束*/










/*中间部分开始*/

.jd-nav {
    width: 100%;
    height: 44px;
    border-bottom:3px solid #B1191A;
}
.dropdown {
    width: 210px;
    height: 44px;
    float: left;
    background-color: #B1191A;
    position: relative;
    z-index: 10;
    overflow: visible;/*作用和overflow:hidden;相反*/
}
.dropdown .dt {
    height: 44px;
}
.dropdown .dt a {
    display: block;
    height: 44px;
    font:400 15px/44px "Microsoft YaHei UI";
    color: #ffffff;
    padding-left: 10px;/*为什么改变padding值不会影响盒子大小，因为a没有宽*/
}
.dropdown .dd {
    height: 465px;
    background-color: #C81623;
    margin-top: 2px;
}
.dropdown .items {
    height: 31px;
    line-height: 31px;
    border-left: 1px solid #B61D1D;
    padding-left: 10px;
    color: #fff;
    font-size: 14px;
    font-family: "Microsoft YaHei UI";
}

.dropdown .items h3 {
    float: left;
}
.dropdown .items span {
    float: right;
    margin-right: 15px;
    font-family: "SimSun";
    font-weight: 600;
}

.navitems {
    width: 680px;
    height: 44px;
    float: left;
}
.navitems li {
    float: left;
}
.navitems li a {
    display: block;
    color: #333;
    font: 500 15px/44px "Microsoft YaHei UI";
    padding: 0 20px;
}
.navitems li.new {
    background: url("../images/new.jpg") no-repeat right top;

}
.navitems li a:hover {
    color:#B1191A;
}
.bike {
    width: 140px;
    height: 44px;
    float: right;
    background: url("../images/bike.jpg") no-repeat;
}
.bike a {
    display: block;
    height: 44px;
}
    /*中间部分结束*/










/*底部开始*/
.slogen {
    height: 54px;
    background-color: #F5F5F5;
    padding:20px 0;
    position: relative;
}
.item {
    width: 302px;
    position: absolute;
    top: 20px;
    left: 50%;

}
.slogen2 {
    margin-left:-304px;
}
.slogen3 {
    margin-left: 2px;
}
.slogen1 {
    margin-left:-608px;
}
.slogen4 {
    margin-left:304px;
}
.shopping dl {
    width: 198px;
    float: left;
    margin-top: 25px;

}
.shopping dt,
.coverange .dt
{
    font-size: 14px;
    height: 28px;
    font-family:"Microsoft YaHei";
}

.coverange {
    float: right;
    width: 210px;
    height: 165px;
    margin-top: 25px;
    background: url(../images/china.png) no-repeat left bottom ;
}
.coverange .dd {
    margin-top: 10px;
}
.coverange p{
    line-height: 18px;
    tab-index: 2em;
}
.looklook {
    text-align: right;
    margin-top: 5px;
}
.againw {
    border-top: 1px solid #E5E5E5;
    margin-top: 30px;
    padding-top:23px;
    text-align: center;
    padding:23px 0 30px 0;
}
.links {
    height:25px;
}
.links a {
    padding: 0 6px;
}
.copyright {
    line-height:18px;
}
.message {
    margin-top:10px;
}
.message a {
    margin-left:10px;
}

/*底部结束*/

















