  p
				   {
				    color:red ;
					font-size:50px ;
					background-color:#32A9FD ;/*6位或者3位十六进制*/
				   }
				   .mystyle
				   {
				    color:yellow ;
				   }
				   #mystyle1
				   {
				    color:#52AB12 ;/*唯一标识符*/
				   }