/* 基础样式开始 */
.container {
  width: 1190px;
  margin: 0 auto;
}
/* 基础样式结束 */

/* #region */
/* 顶部导航条开始 */
.topbar {
  height: 30px;
  background-color: #ECECEC;
}
.topbar .welcome {
  height: 30px;
  line-height: 30px;
  font-size: 0;
  color: #666;
}
.topbar .welcome span,
.topbar .welcome a {
  font-size: 12px;
}
.topbar .welcome .hello {
  margin-right: 28px;
}
.topbar .welcome .login {
  padding-right: 10px;
  border-right: 1px solid #666;
}
.topbar .welcome .register {
  padding-left: 10px;
}
.topbar .nav .list {
  height: 30px;
  line-height: 30px;
}
.topbar .nav .list li {
  float: left;
}
.topbar .nav .list li a {
  padding: 0 15px;
  border-right: 1px solid #666;
}
.topbar .nav .list li:first-child a {
  padding-left: 0;
}
.topbar .nav .list li:last-child a {
  padding-right: 0;
  border: none;
}
/* 顶部导航条结束 */
/* #endregion */

/* #region */
/* 头部开始 */
.header .search form {
  margin-top: 42px;
  font-size: 0;
}
.header .search input {
  height: 34px;
  width: 508px;
  border: 1px solid #DD302D;
}
.header .search button {
  width: 80px;
  height: 36px;
  background-color: #DD302D;
  vertical-align: top;
  /* 引入背景图 */
  background-image: url('../images/serch_icon.png');
  background-repeat: no-repeat;
  background-position: 28px 6px;
}
/* 头部结束 */
/* #endregion */

/* #region主导航区开始 */
.main-nav {
  border-bottom: 1px solid #DD302D;
}
.main-nav .all-types {
  height: 48px;
  width: 190px;
  line-height: 48px;
  background-color: #DD302D;
  font-size: 16px;
  text-align: center;
  color: #fff;
}
.main-li-nav {
  height: 48px;
  line-height: 48px;
}
.main-li-nav ul li {
  float: left;
  font-size: 16px;
  margin: 0 10px;
}
/* #endregion主导航区结束 */


/* #region主内容区开始 */
.main-content {
  margin-top: 10px;
}
.main-content .slide-nav {
  height: 458px;
  width: 190px;
  background-color: #F4F4F4;
}
.main-content .slide-nav li {
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  /* CSS高级技巧-特别注意：背景色可以填充padding，不能填充margin，所以这里不能用margin-left */
  padding-left: 16px;
}
.main-content .slide-nav li:hover {
  background-color: #DD302D;
  color: #FFFFFF;
  cursor: pointer;
}
/* CSS高级技巧-鼠标放在li上面的时候，去找li中的a，让这个a中文字的颜色变成白色，不能写.slide-nav li a:hover，这样是鼠标放在a上面的时候，让a中文字颜色变成白色 */
.main-content .slide-nav li:hover>a {
  color: #FFFFFF;
}
.main-content .banner {
  height: 458px;
  width: 690px;
  margin: 0 10px;
}
.main-content .slide-other {
  width: 290px;
  height: 458px;
}
.main-content .slide-nav {
  position: relative;
}
.main-content .slide-nav .second-menu {
  width: 680px;
  height: 458px;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 190px;
  display: none;
  background-color: #F4F4F4;
  /* 整个内容区的左侧边距 */
  padding-left: 20px;
}
.main-content .slide-nav li:hover .second-menu {
  display: block;
}
.main-content .slide-nav .second-menu dl {
  padding-left: 20px;
}
.main-content .slide-nav .second-menu dt {
  float: left;
  width: 70px;
  font-weight: bold;
  height: 36px;
  line-height: 36px;
  margin-right: 10px;
}
.main-content .slide-nav .second-menu dd {
  float: left;
  height: 36px;
  line-height: 36px;
}
.main-content .slide-nav .second-menu dd a {
  padding: 0 10px;
  border-left: 1px solid #999999;
}
.main-content .container .slide-other .message {
  width: 260px;
  height: 156px;
  border: 1px solid #D9D9D9;
  padding: 0 14px;
}
.main-content .container .slide-other .message .title {
  height: 39px;
  line-height: 39px;
  border-bottom: 1px solid #999999;;
}  
.main-content .container .slide-other .message .message-list li {
  height: 26px;
  line-height: 26px;
}  
.main-content .container .slide-other .other-nav {
  width: 290px;
  height: 290px;
  margin-top: 10px;
  overflow: hidden;
}
.main-content .container .slide-other .other-nav ul {
  margin-top: 10px;
}  
.main-content .container .slide-other .other-nav ul li {
  float: left;
  width: 48px;
  height: 70px;
  margin: 0 11px;
  text-align: center;
}
.main-content .container .slide-other .other-nav ul:first-child {
  margin-top: 16px;
}

.main-content .container .slide-other .other-nav ul li:first-child {
  margin-left: 16px;
}
.main-content .container .slide-other .other-nav ul li div {
  height: 48px;
  width: 48px;
}
.main-content .container .slide-other .other-nav ul:nth-child(1) li:nth-child(1) div {
  background: url(../images/精灵图-侧边功能.png) no-repeat 0 0;
} 
.main-content .container .slide-other .other-nav ul:nth-child(1) li:nth-child(2) div {
  background: url(../images/精灵图-侧边功能.png) no-repeat -48px 0;
} 
.main-content .container .slide-other .other-nav ul:nth-child(1) li:nth-child(3) div {
  background: url(../images/精灵图-侧边功能.png) no-repeat -96px 0;
} 
.main-content .container .slide-other .other-nav ul:nth-child(1) li:nth-child(4) div {
  background: url(../images/精灵图-侧边功能.png) no-repeat -144px 0;
} 
.main-content .container .slide-other .other-nav ul:nth-child(2) li:nth-child(1) div {
  background: url(../images/精灵图-侧边功能.png) no-repeat 0 -48px;
} 
.main-content .container .slide-other .other-nav ul:nth-child(2) li:nth-child(2) div {
  background: url(../images/精灵图-侧边功能.png) no-repeat -48px -48px;
} 
.main-content .container .slide-other .other-nav ul:nth-child(2) li:nth-child(3) div {
  background: url(../images/精灵图-侧边功能.png) no-repeat -96px -48px;
} 
.main-content .container .slide-other .other-nav ul:nth-child(2) li:nth-child(4) div {
  background: url(../images/精灵图-侧边功能.png) no-repeat -144px -48px;
} 
.main-content .container .slide-other .other-nav ul:nth-child(3) li:nth-child(1) div {
  background: url(../images/精灵图-侧边功能.png) no-repeat 0 -96px;
} 
.main-content .container .slide-other .other-nav ul:nth-child(3) li:nth-child(2) div {
  background: url(../images/精灵图-侧边功能.png) no-repeat -48px -96px;
} 
.main-content .container .slide-other .other-nav ul:nth-child(3) li:nth-child(3) div {
  background: url(../images/精灵图-侧边功能.png) no-repeat -96px -96px;
} 
.main-content .container .slide-other .other-nav ul:nth-child(3) li:nth-child(4) div {
  background: url(../images/精灵图-侧边功能.png) no-repeat -144px -96px;
}
/* #endregion主内容区结束 */


/* #region秒杀区开始 */
.seckill {
  margin-top: 10px;
}
.seckill .container img {
  float: left;
  margin-right: 11px;
}
.seckill .container img:last-child {
  margin-right: 0;
}
/* #endregion秒杀区结束 */


/* #region楼层区开始 */
.floor .floor-top {
  height: 30px;
  line-height: 30px;
  margin-top: 48px;
  border-bottom: 2px solid #DD302D;
}
.floor .floor-top span {
  color: #000000;
  font-size: 20px;
}
.floor .floor-top ul li {
  float: left;
  height: 24px;
  font-size: 16px;
  color: #666666;
}
.floor .floor-top ul li a {
  padding:  0 10px;
  border-right: 1px solid #DD302D;
}
.floor .floor-top ul li:first-child a {
  padding-left: 0;
  color: #DD302D;
}
.floor .floor-top ul li:last-child a {
  border-right: none;
  padding-right: 0;
}
.floor .floor-bottom .item {
  float: left;
  height: 432px;
}
.floor .floor-bottom .item1 {
  width: 190px;
  background-color: #F4F4F4;
  height: 392px;
  padding: 20px;
}
.floor .floor-bottom .item1 li {
  width: 90px;
  height: 22px;
  float: left;
  padding-bottom: 3.5px;
  border-bottom: 1px solid #D9D9D9;
  font-size: 16px;
  color: #666666;
  line-height: 22px;
  text-align: center;
}
.floor .floor-bottom .item2 {
  width: 340px;
}  
.floor .floor-bottom .item3,
.floor .floor-bottom .item4,
.floor .floor-bottom .item5 {
  width: 206px;
  height: 432px;
}
.floor .floor-bottom .item3,
.floor .floor-bottom .item4 {
  border-right: 1px solid #E2E2E2;
}  

.floor .floor-bottom .item1-list {
  margin-bottom: 29px;
}
.floor .floor-bottom .item1-list li:nth-child(2n-1) {
  float: left;
}
.floor .floor-bottom  .item1-list li:nth-child(2n) {
  float: right;
}
.floor .floor-bottom .item1-list li:nth-child(3),
.floor .floor-bottom .item1-list li:nth-child(4) {
  margin: 14.4px 0;
}
.floor .floor-bottom .item3 img {
  height: 215px;
}
.floor .floor-bottom .item3 img,
.floor .floor-bottom .item4 img,
.floor .floor-bottom .item5 img {
  border-bottom: 1.4px solid #E2E2E2;
}
/* #endregion楼层区结束 */


/* #region页脚区 */
.footer {
  height: 440px;
  background-color: #483E3E;
  margin-top: 48px;
}
.footer-top-list {
  height: 176px;
  width: 190px;
  margin-top: 48px;
  margin-right: 10px;
}
.footer-top-list:last-child {
  margin-right: 0;
}
.footer-top-list li a {
  font-size: 14px;
  color: #fff;
}
.footer-line {
  height: 1px;
  background-color: #584D4D;
  margin-top: 22px;
  margin-bottom: 47px;
}
.footer-bottom {
  text-align: center;
}
.footer-bottom-list {
  display: inline-block;
}
.footer-bottom-list li {
  float:left
}
.footer-bottom-list li a {
  font-size: 12px;
  color: #fff;
  padding: 0 26px;
  border-right: 1px solid #D9D9D9;
}
.footer-bottom-list li:first-child a {
  padding-left: 0;
}
.footer-bottom-list li:last-child a {
  padding-right: 0;
  border-right: 0;
}
.copyright {
  font-size: 12px;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}
/* #endregion页脚区 */