/* 基础样式开始 */
.container {
  width: 1190px;
  margin: 0 auto;
}
/* 基础样式结束 */

/* #region */
/* 顶部导航条开始 */
.topbar {
  height: 30px;
  background-color: #ECECEC;
}
.topbar .welcome {
  height: 30px;
  line-height: 30px;
  font-size: 0;
  color: #666;
}
.topbar .welcome span,
.topbar .welcome a {
  font-size: 12px;
}
.topbar .welcome .hello {
  margin-right: 28px;
}
.topbar .welcome .login {
  padding-right: 10px;
  border-right: 1px solid #666;
}
.topbar .welcome .register {
  padding-left: 10px;
}
.topbar .nav .list {
  height: 30px;
  line-height: 30px;
}
.topbar .nav .list li {
  float: left;
}
.topbar .nav .list li a {
  padding: 0 15px;
  border-right: 1px solid #666;
}
.topbar .nav .list li:first-child a {
  padding-left: 0;
}
.topbar .nav .list li:last-child a {
  padding-right: 0;
  border: none;
}
/* 顶部导航条结束 */
/* #endregion */

/* #region */
/* 头部开始 */
.header .search form {
  margin-top: 42px;
  font-size: 0;
}
.header .search input {
  height: 34px;
  width: 508px;
  border: 1px solid #DD302D;
}
.header .search button {
  width: 80px;
  height: 36px;
  background-color: #DD302D;
  vertical-align: top;
  /* 引入背景图 */
  background-image: url('../images/serch_icon.png');
  background-repeat: no-repeat;
  background-position: 28px 6px;
}
/* 头部结束 */
/* #endregion */

/* #region主导航区开始 */
.main-nav {
  border-bottom: 1px solid #DD302D;
}
.main-nav .all-types {
  height: 48px;
  width: 190px;
  line-height: 48px;
  background-color: #DD302D;
  font-size: 16px;
  text-align: center;
  color: #fff;
}
.mian-li-nav {
  height: 48px;
  line-height: 48px;
}
.mian-li-nav ul li {
  float: left;
  font-size: 16px;
  margin: 0 10px;
}
/* #endregion主导航区结束 */


/* #region主内容区开始 */
.mian-content {
  margin-top: 10px;
}
.mian-content .slide-nav {
  height: 458px;
  width: 190px;
  background-color: #F4F4F4;
}
.mian-content .slide-nav li {
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  /* CSS高级技巧-特别注意：背景色可以填充padding，不能填充margin，所以这里不能用margin-left */
  padding-left: 16px;
}
.mian-content .slide-nav li:hover {
  background-color: #DD302D;
  color: #FFFFFF;
  cursor: pointer;
}
/* CSS高级技巧-鼠标放在li上面的时候，去找li中的a，让这个a中文字的颜色变成白色，不能写.slide-nav li a:hover，这样是鼠标放在a上面的时候，让a中文字颜色变成白色 */
.mian-content .slide-nav li:hover a {
  color: #FFFFFF;
}
.mian-content .banner {
  height: 458px;
  width: 690px;
  background-color: red;
  margin: 0 10px;
}
.mian-content .slide-other {
  width: 290px;
  height: 458px;
  background-color: gold;
}
/* #endregion主内容区结束 */