@font-face {
  font-family: "iconfont"; /* Project id 3564358 */
  src: url('iconfont.woff2?t=1735046747596') format('woff2'),
       url('iconfont.woff?t=1735046747596') format('woff'),
       url('iconfont.ttf?t=1735046747596') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-graph-database:before {
  content: "\e6bf";
}

.icon-document-database:before {
  content: "\e64a";
}

.icon-kvstorage-database:before {
  content: "\e61e";
}

.icon-distributed-database:before {
  content: "\e7d4";
}

.icon-relational-database:before {
  content: "\e611";
}

.icon-time-series-database:before {
  content: "\e9ce";
}

.icon-knowledge:before {
  content: "\e72d";
}

.icon-official:before {
  content: "\e649";
}

.icon-tool:before {
  content: "\e86f";
}

.icon-mongodb:before {
  content: "\e605";
}

.icon-neo4j:before {
  content: "\e647";
}

.icon-influxdb:before {
  content: "\ea74";
}

.icon-redis:before {
  content: "\e619";
}

.icon-mysql:before {
  content: "\e607";
}

.icon-oracle:before {
  content: "\e604";
}

.icon-senior:before {
  content: "\e603";
}

.icon-nginx:before {
  content: "\ec30";
}

.icon-algorithm:before {
  content: "\e606";
}

.icon-data-structure:before {
  content: "\e609";
}

.icon-design-pattern:before {
  content: "\e74e";
}

.icon-c:before {
  content: "\eb57";
}

.icon-java:before {
  content: "\e6b8";
}

.icon-eclipse:before {
  content: "\e7d5";
}

.icon-layer:before {
  content: "\e622";
}

.icon-golang:before {
  content: "\e68d";
}

.icon-home:before {
  content: "\e6f9";
}

.icon-html5:before {
  content: "\e602";
}

.icon-user:before {
  content: "\e752";
}

.icon-css3:before {
  content: "\e664";
}

.icon-javascript:before {
  content: "\ebd8";
}

.icon-gitee:before {
  content: "\e615";
}

.icon-database1:before {
  content: "\e6ac";
}

.icon-terminal:before {
  content: "\ea2e";
}

.icon-cpp:before {
  content: "\e601";
}

.icon-scala:before {
  content: "\ec8d";
}

.icon-python:before {
  content: "\ec18";
}

.icon-chrome:before {
  content: "\e6e7";
}

.icon-blog:before {
  content: "\eaf9";
}

.icon-vue:before {
  content: "\e69a";
}

.icon-ubuntu:before {
  content: "\e72e";
}

.icon-maven:before {
  content: "\e672";
}

.icon-github:before {
  content: "\e674";
}

.icon-dev:before {
  content: "\e6dc";
}

.icon-cloud:before {
  content: "\e61d";
}

.icon-square:before {
  content: "\e61c";
}

.icon-rancher:before {
  content: "\e600";
}

.icon-kindle:before {
  content: "\e648";
}

.icon-chapter:before {
  content: "\e629";
}

.icon-library:before {
  content: "\e9d2";
}

.icon-a-archivecatalogue-fill:before {
  content: "\e9d4";
}

.icon-zidingyizhangjie:before {
  content: "\e608";
}

.icon-docker:before {
  content: "\ebf8";
}

.icon-kubernetes:before {
  content: "\ebee";
}

.icon-jenkins:before {
  content: "\ec0b";
}

.icon-jetbrains:before {
  content: "\ebdb";
}

.icon-database:before {
  content: "\e673";
}

