<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xa8bit.dao.IRuleFieldDao">
    <!--  TODO 待删除  -->
    <insert id="addRuleField" parameterType="com.xa8bit.domain.RuleField">
        insert into t_rule_field(rule_id,rule_field_category_code,rule_field_category_name,rule_field_name,rule_field_value,rule_field_fill_strategy,rule_field_association_tab_index)
        values (#{ruleId},#{ruleFieldCategoryCode},#{ruleFieldCategoryName},#{ruleFieldName},#{ruleFieldValue},#{ruleFieldFillStrategy},#{ruleFieldAssociationTabIndex})
    </insert>

    <insert id="addRuleFieldBatch" parameterType="com.xa8bit.domain.BarCodes">
        insert into t_rule_field(rule_id,rule_field_category_code,rule_field_category_name,rule_field_name,rule_field_value,rule_field_fill_strategy,rule_field_reset_strategy,rule_field_association_tab_index) values
        <foreach collection="ruleFieldList" item="ruleField" separator=",">
            (#{ruleField.ruleId},#{ruleField.ruleFieldCategoryCode},#{ruleField.ruleFieldCategoryName},#{ruleField.ruleFieldName},#{ruleField.ruleFieldValue},#{ruleField.ruleFieldFillStrategy},#{ruleField.ruleFieldResetStrategy},#{ruleField.ruleFieldAssociationTabIndex})
        </foreach>
    </insert>

    <select id="getRuleFieldsByRuleId" parameterType="String" resultType="com.xa8bit.domain.RuleField">
        select * from t_rule_field where rule_id = #{ruldId}
    </select>

    <select id="getRuleFieldById" parameterType="int" resultType="com.xa8bit.domain.RuleField">
        select * from t_rule_field where id = #{ruldId}
    </select>

    <update id="updateRuleFieldValueById" parameterType="Map">
        update t_rule_field set rule_field_value = #{ruleFieldValue} where id = #{id}
    </update>

    <delete id="deleteRuleFieldByRuleId" parameterType="String">
        delete from t_rule_field where rule_id = #{ruleId}
    </delete>

    <delete id="deleteRuleFieldByRuleIdReal" parameterType="String">
        delete from t_rule_field where rule_id = #{ruleId}
    </delete>
</mapper>