<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xa8bit.dao.ISchemeDao">
    <insert id="addScheme" parameterType="com.xa8bit.domain.Scheme">
        insert into t_scheme(scheme_id,scheme_name,scheme_comments,scheme_status,create_time,update_time)
        values (#{schemeId},#{schemeName},#{schemeComments},#{schemeStatus},#{createTime},#{updateTime})
    </insert>

    <select id="getSchemes" resultType="com.xa8bit.domain.Scheme">
        select * from t_scheme order by create_time asc
    </select>

    <select id="getSchemesForSelectInput" resultType="com.xa8bit.domain.Scheme">
        select * from t_scheme where scheme_status = '0' order by create_time asc
    </select>

    <select id="getSchemesBySchemeName" parameterType="String" resultType="com.xa8bit.domain.Scheme">
        select * from t_scheme where
            <if test="schemeName != 'null' and schemeName!= ''">
                scheme_name like concat('%',#{schemeName},'%') and
            </if>
        1 = 1
        order by create_time asc
    </select>

    <delete id="deleteSchemeById" parameterType="int">
        delete from t_scheme where id = #{id}
    </delete>


    <update id="updateScheme" parameterType="com.xa8bit.domain.Scheme">
        update t_scheme set scheme_name = #{schemeName}, scheme_comments = #{schemeComments},scheme_status = #{schemeStatus},update_time=#{updateTime} where id = #{id}
    </update>

    <select id="getSchemeBySchemeId" parameterType="String" resultType="com.xa8bit.domain.Scheme">
        select * from t_scheme where scheme_id = #{schemeId}
    </select>

    <select id="getSchemeById" parameterType="int" resultType="com.xa8bit.domain.Scheme">
        select * from t_scheme where id = #{id}
    </select>
</mapper>